{% extends "layouts/base.html" %}
{% load static %}
{% load bootstrap5 %}

{% block content %}
<article class="col d-flex flex-column gap-3">

    {% include 'layouts/one_question.html' %}

    <hr>

    {% for answer in answers %}
        {% include 'layouts/answer.html' %}
    {% endfor %}

    <hr>
    <form action="" method="post">
    <div>
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="button" class="btn btn-secondary mt-1">Answer</button>
        {% endbuttons %}
    </div>
    </form>
    {% include 'layouts/pagination.html' %}
</article>
{% endblock %}
