{% extends "layouts/base.html" %}
{% load static %}
{% load bootstrap5 %}

{% block content %}
    <div class="d-flex align-items-center gap-3 mb-2">
        <h2>Registration</h2>
    </div>
    
    <article class="d-flex flex-column gap-4 me-3">
    <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn-primary mb-2">Register!</button>
        {% endbuttons %}
    </form>
    </article>

{% endblock %}