{% load static %}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <div class="d-flex border rounded" style="height: 70px; width: 70px">
                    <img src="{% if answer.author.avatar %}{{ answer.author.avatar.url }}{% else %}{% static 'img/guest_user.jpg' %}{% endif %}"
                             alt="Avatar" class="img-fluid img-fit">
                </div>

                <div class="d-flex mt-2 gap-2">
                    <div class="form-control" readonly data-correct-counter="{{ answer.id }}">
                    {{ answer.likes_count }}
                </div>
                </div>
            </div>

            <div class="col d-flex flex-column justify-content-between">
                <div>
                    <p class="card-text">
                        {{ answer.text }}
                    </p>
                </div>

                <div class="row ps-3">
                    <label>
                        <input type="checkbox" class="correct-checkbox" data-answer-id="{{ answer.id }}" {% if answer.is_liked %}checked{% endif %}>
                    </label> Correct!
                </div>
            </div>

        </div>
    </div>
</div>